body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #110118;
    color: #ffffff;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 1rem;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
}


img {
    width: 100%;
    height: auto;
}

.hero-content {
    position: absolute;
    background-size: cover; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

section.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section.featured-products
{
    padding: 2rem;
    background-color: black;
    color: rgb(255, 255, 255);
}

section.featured-equipment,
section.services-jobs,
section.land-leasing {
    padding: 2rem;
   
}

h2 {
    font-size: 1.8rem;
}

footer {
    background-color: #110118;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}
/* ... (previous styles) ... */

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 3rem;
    margin-right: 60px;
    margin-top: 1rem;
}
.product:hover
{
    border: 8px solid #ddd;
}


.product {
    width: 450px;
    border: 8px solid #1c0326;
    padding: 1rem;
    box-sizing: border-box ;

    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}
.price {
    font-size: 20px;
    color: #f60521;
}

.buy-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #a626b9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #110118;
}

/* ... (remaining styles) ... */
